* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Nav*/

/*Header*/

header {
  width: 100%;
}

.menudos>li {
  display: inline-block;
}

.menudos>li>a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'Arial';
  font-size: 1.2rem;
  text-decoration: none;
}

.navegacion {
  width: 1000px;
  margin: 30px auto;
  background: #fff;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.navegacion ul {
  list-style: none;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'Arial';
  font-size: 1.2rem;
  text-decoration: none;
}

.menu li a:hover {
  color: #CE7D35;
  transition: all .3s;
}

/* Submenu*/

.submenu {
  position: absolute;
  background: #fff;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: #000;
  font-family: 'Arial';
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/* titulo*/
.titulo {
  background-color: #ffffff;
}

.titulo h1 {
  font-size: 2.75rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;
  text-align: center;
  width: 100%;
  height: auto;
}

.titulo>.imagen {
  width: 100%;
  height: auto;
}

.informacion {
  width: 610px;
  height: 610px;
  margin: 0 auto;
}

.informacion p {
  text-align: justify;
  line-height: 2em;
  letter-spacing: .5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2;
}

.informacion h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
}

/* Contenedor imagenes */

.container {
  display: flex;
  justify-content: center;
}

.container p a {
  font-size: 1.4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  color: #000;
}

.iconos {
  text-align: center
}

.left {
  float: left;
}

.center {
  display: inline-block
}

/*Fuentes y Autores*/
#show,
#hide {
  display: none;
}

div#content {
  display: none;
  cursor: pointer;
}

input#show:checked~div#content {
  display: block;
}

input#hide:checked~div#content {
  display: block;
}

/*Form*/
.contact_form {
  width: 460px;
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label {
  display: block;
  float: center;
}


button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-color: #d60202;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p {
  color: rgb(0, 0, 0);
}



.aviso {
  font-size: 13px;
  color: #0e0e0e;
}


h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
}


h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


p {
  font-size: 14px;
  color: #0e0e0e;
}


::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color: #a8a8a8;
}


.formulario input:focus {
  outline: 0;
  border: 1px solid #a5140a;
}


.formulario textarea:focus {
  outline: 0;
  border: 1px solid #810d0d;
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #F1F1F1;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #000000;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}


.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
